<html>
<head>
	<title>10 Nearest Coffee Shops</title>
	<link rel="stylesheet" href="stylesheets/main.css.scss">
</head>
<body>

	<div id="search-form">
		<h3>Enter your longitude and latitude to find the 10 closest coffee shops:</h3>
		<form>

			<input type="text" placeholder="latitude">

			<input type="text" placeholder="longitude">

			<button>Search</button>

		</form>

	</div>

</body>
</html>