<html>
<head>
	<title>10 Nearest Coffee Shops</title>
</head>
<body>

	<div id="search-form">
		<h3>Enter your longitude and latitude to find the 10 closest coffee shops:</h3>
		<form>

			<input class="lat" type="text" placeholder="latitude">

			<input class="lon" type="text" placeholder="longitude">

			<button>Search</button>

		</form>

	</div>

	<div class="list">
		<!-- <h2>The 10 coffee shops closest to you are:</h2> -->

			<ol class="shops">
				
			</ol>
	</div>

</body>
</html>